/* Updated: 2011.6.5 ENR
   Author: Erik Runyon
   ----------------------------------------------------*/
   
/* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
   v1.4 2009-07-27 | Authors:Eric Meyer & Richard Clark
   html5doctor.com/html-5-reset-stylesheet/
   ----------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul {margin:0; padding:0; list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #000; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input, select {vertical-align:middle;}
select, input, textarea, button { font:99% sans-serif; }
figcaption {display:block; text-align:center;}

/* APP
   ----------------------------------------------------*/
html, body {margin:0; padding:0; width:100%; height:100%; font-size:20px; color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,0.5)}
h1 {z-index:10; position:absolute; top:30px; left:30px; margin:0; font-size:80px;}
h1.tr {top:30px; right:30px; left:auto;}
h1.br {top:auto; left:auto; bottom:60px; right:30px;}
h1.bl {top:auto; bottom:60px; left:30px;}
p {margin:0 0 2em; line-height:1.4em;}
img {max-width:100%; max-height:100%;}

.box {width:300px; height:300px;}
.code {padding:20px; font-family:Courier; color:rgb(0,255,0); background-color:rgba(0,0,0,0.9); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);}
.slide { position:absolute; top:0; left:0; display:none; width:100%; height:100%; }
.content {padding:10px 30px;}

/* IMAGES
   ----------------------------------------------------*/
img {z-index:0;}
img.full {position:absolute; top:0; bottom:0; left:0; right:0; width:100%;} /* Full-screen image */
img.tl {position:absolute; top:0; left:0;} /* Top Left */
img.bl {position:absolute; bottom:0; left:0;} /* Bottom Left */
img.tr {position:absolute; top:0; right:0;} /* Top Right */
img.br {position:absolute; bottom:0; right:0;} /* Bottom Right */

/* Used for adjusting the width of images */
.p10 {width:10%;}
.p30 {width:20%;}
.p20 {width:30%;}
.p40 {width:40%;}
.p50 {width:50%;}
.p60 {width:60%;}
.p70 {width:70%;}
.p80 {width:80%;}
.p90 {width:90%;}

/* STRUCTURE
   ----------------------------------------------------*/
#slides {width:100%; height:100%;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
  background:linear-gradient(top, #7db9e8 0%,#1e5799 100%); /* W3C */
}

#footer {overflow:hidden; position:fixed; bottom:0; width:100%; padding:10px 0; background-color:rgba(0,0,0,0.2);}
#footer p {float:left; margin:0 0 0 20px; line-height:1em;}
#footer a {color:#fff;}
#footer a.active {font-weight:bold; color:#ccc; text-decoration:none;}
#footer ul {position:absolute; top:10px; left:35%; width:500px; margin:0 auto; list-style:none;}
#footer ul li {display:inline; margin-right:5px;}
#counter {float:right; margin-right:20px;}

/* SLIDES
   ----------------------------------------------------*/
#slide1 {display:block;}
#slide1 h1 {top:40%; width:96%; font-size:80px; text-align:center;}